.chartContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0;
    padding-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}